.main__header{
    padding: 2%;
    background-color: azure;
}

.nav__bar{
    display: flex;
}

.vl {
    border-left: 3px solid rgba(85, 85, 85, 0.438);
    border-right: 3px solid rgba(85, 85, 85, 0.438);
    height: 100%;
}